{% extends "layouts/base-fullscreen.html" %}

{% load embed_video_tags %}

{% block title %} Add Event {% endblock %} 

{% block body_class %} sign-in-basic {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  {% include 'includes/navigation.html' %} 
  
  <div class="page-header align-items-start min-vh-100" style="background-image: url('https://images.unsplash.com/photo-1497294815431-9365093b7331?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80');" loading="lazy">
    <span class="mask bg-gradient-dark opacity-6"></span>
    <div class="container my-6">
      <div class="row">
        <div class="col-lg-6d-flex flex-column ms-auto me-auto ms-lg-auto me-lg-5">
          <div class="card d-flex blur justify-content-center shadow-lg my-sm-0 my-sm-6 mt-8 mb-5">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
              <div class="bg-gradient-primary shadow-primary border-radius-lg p-3">
                <center>
                  <h3 class="text-white text-primary mb-0">Edit Course</h3>
                </center>
              </div>
            </div>
            <div class="card-body">
              <table class="table table-bordered table-hover table-responsive">
                <tr>
                  <th>
                    Name
                  </th>
                  <th>
                    Date
                  </th>
                  <th>
                    Start Time
                  </th>
                  <th>
                    Description
                  </th>
                  <th>
                    Attendees
                  </th>
                  <th>
                    Seats
                  </th>
                </tr>
                {% for event in event_list %}
                  <tr>
                    <th class="text-wrap col-sm-2">
                      <strong>
                        <a href="{% url 'edit_event_id' event_id=event.id %}">
                          {{ event }}
                        </a>
                      </strong>
                    </th>
                    <td>
                      {{ event.event_date|date:'M d, Y' }}
                    </td>
                    <td>
                      {{ event.start_time|time:'g:iA' }}
                    </td>
                    <td class="text-wrap">
                      {{ event.description }}
                    </td>
                    <td>
                      {{ event.attendees.count }}
                    </td>
                    <td>
                      {{ event.maximum_capacity }}
                    </td>
                  </tr>  
                {% endfor %}
              </table>
            </div>
          </div>
        </div>
      </div>
    {% include 'includes/footer-auth.html' %} 

  </div>

{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    $(document).ready(function() {
       $('#id_event_date').datepicker({
            firstDay: 1,
            dateFormat: "yy-mm-dd",
            defaultDate: 0,
            minDate: 0
        });
    });
</script>
{% endblock javascripts %}