{% extends "layouts/base.html" %}

{% block title %} Events {% endblock %} 

{% block body_class %} events {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  {% include 'includes/navigation-transparent.html' %}

  <header class="bg-gradient-dark">
    <div class="page-header min-vh-75" style="background-image: url('{{ ASSETS_ROOT }}/img/bg9.jpg');">
      <span class="mask bg-gradient-dark opacity-6"></span>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 text-center mx-auto my-auto">
            <h1 class="text-white">Events</h1>
            <p class="lead mb-4 text-white opacity-8">Upcoming and past events</p>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="card card-body shadow-xl mx-3 mx-md-4 mt-n6">
    <!-- Section with four info areas left & one card right with image and waves -->
    <section class="py-7">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-12 ms-auto mt-lg-0 mt-12">
            <div class="card">
              <div class="card-body text-center">
                <center>
                        {% for event in event_list %}
                            <strong>
                                {{ event }}
                            </strong>
                            <ul>
                                <li>
                                    Date: {{ event.event_date }}
                                </li>
                                <li>
                                    Description: {{ event.description }}
                                </li>
                                <li>
                                    Attendee Count: {{ event.attendees.count }}
                                </li>
                            </ul>
                        {% endfor %}
                    </ul>
                </center>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

{% endblock content %}