{% extends "layouts/base-fullscreen.html" %}

{% load embed_video_tags %}

{% block title %} Add Course {% endblock %}

{% block body_class %} sign-in-basic {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  {% include 'includes/navigation.html' %} 
  
  <div class="page-header align-items-start min-vh-100" style="background-image: url('https://images.unsplash.com/photo-1497294815431-9365093b7331?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80');" loading="lazy">
    <span class="mask bg-gradient-dark opacity-6"></span>
    <div class="container my-6">
      <div class="row">
        <div class="col-lg-6d-flex flex-column ms-auto me-auto ms-lg-auto me-lg-5">
          <div class="card d-flex blur justify-content-center shadow-lg my-sm-0 my-sm-6 mt-8 mb-5">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
              <div class="bg-gradient-primary shadow-primary border-radius-lg p-3">
                <center>
                  <h3 class="text-white text-primary mb-0">Add Course</h3>
                </center>
              </div>
            </div>
            <div class="card-body">
              <form id="add-course-form" method=POST autocomplete="on">
                {% csrf_token %}
                {% if submitted %}
                  <center>
                    Submitted Successfully!
                    <br/>
                    <input onclick="window.location.href='/courses/add'" value="Refresh" class="btn bg-gradient-primary w-100 my-4 mb-2"></input>
                  </center>
                {% else %}
                    <div class="row">
                      <div class="input-group input-group-static mb-4">
                      {% for item in form %}
                        {{ item.label }}
                        {{ item }}
                      {% endfor %}
                      </div>
                    </div>
                    <center>
                      <input type="submit" value="Submit" class="btn bg-gradient-primary w-100 my-4 mb-2"></input>
                    </center>
                {% endif %}
              </form>
            </div>
          </div>
        </div>
      </div>
    {% include 'includes/footer-auth.html' %} 

  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    $(document).ready(function() {
       $('#id_course_date').datepicker({
            firstDay: 1,
            dateFormat: "yy-mm-dd",
            defaultDate: 0,
            minDate: 0
        });
    });
</script>
{% endblock javascripts %}