{% extends "layouts/base-fullscreen.html" %}

{% block title %} Events {% endblock %} 

{% block body_class %} events {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link href="{{ ASSETS_ROOT }}/css/calendar.css?" rel="stylesheet" />
{% endblock stylesheets %}

{% block content %}

  {% include 'includes/navigation.html' %}
  <div class="container my-6">
    <div class="row">
      <div class="col-lg-6d-flex flex-column ms-auto me-auto ms-lg-auto me-lg-5">
        <div class="card d-flex blur justify-content-center shadow-lg my-sm-0 my-sm-6 mt-n6 mb-5">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
            <div class="bg-gradient-primary shadow-primary border-radius-lg p-3">
                <h3 class="text-white text-primary mb-0 text-center">
                    <div class="icon month prev">
                      <a href="/courses/{{ prev }}">
                          <i class="fa fa-angle-left left" aria-hidden="true"></i>
                      </a>
                    </div>
                        {{ month }} Courses
                    <div class="icon month next">
                      <a href="/courses/{{ next }}">
                          <i class="fa fa-angle-right" aria-hidden="true"></i>
                      </a>
                    </div>
                </h3>
            </div>
          </div>
          <div class="card-body p-0 pt-4">

            <table class="calendar">
              <tbody>
                <tr>
                    <tr>
                        <th class="Monday">Monday</th>
                        <th class="Tuesday">Tuesday</th>
                        <th class="Wednesday">Wednesday</th>
                        <th class="Thursday">Thursday</th>
                        <th class="Friday">Friday</th>
                        <th class="Saturday">Saturday</th>
                        <th class="Sunday">Sunday</th>
                    </tr>
                </tr>
                {% for week in calendar %}
                  <tr>
                    {% for day in week %}
                      <td>
                          {% if day.day > 0 %}
                              {% if day.courses|length > 0 %}
                                <span class="date active">
                                    {{ day.day }}
                                    {% for course in day.courses %}
                                        <a href="/courses/view/{{ course.id }}/" class="active mt-2">{{ course.name }}</a>
                                    {% endfor %}
                                </span>
                              {% else %}
                                <span class="date">{{ day.day }}</span>
                              {% endif %}
                          {% endif %}
                      </td>
                    {% endfor %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

{% include 'includes/footer.html' %}
{% endblock content %}