{% extends "layouts/base-fullscreen.html" %}

{% block title %} {{ course.name }} {% endblock %}

{% block body_class %} sign-in-basic {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
  <link href="{{ ASSETS_ROOT }}/css/courses.css?" rel="stylesheet" />
{% endblock stylesheets %}

{% block content %}

  {% include 'includes/navigation.html' %} 
  
  <div class="page-header align-items-start min-vh-100">
    <span class="mask bg-gradient-dark opacity-0"></span>
    <div class="container my-6">
      <div class="row">
        <div class="col-lg-6d-flex flex-column ms-auto me-auto ms-lg-auto me-lg-5">
          <div class="card d-flex blur justify-content-center shadow-lg my-sm-0 my-sm-6 mt-8 mb-5">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
              <div class="bg-gradient-primary shadow-primary border-radius-lg p-3">
                  <h3 class="text-white text-primary mb-0 text-center">{{ course.name }}</h3>
              </div>
            </div>
            <div class="card-body">
              <div class="container">
                <div class="row">
                  <div class="col-lg-7 text-center mx-auto">
                    <div id="CarouselWithControls" class="carousel slide" data-ride="carousel">
                      <div class="carousel-inner">
                      {% for design in course.designs.all %}
                        {% with design.images.all|first as image %}
                          {% if forloop.first %}
                            <div class="carousel-item {% if forloop.first %} active {% endif %}">
                              <img src="{{ image.url }}" class="d-block w-100">
                            </div>
                          {% else %}
                            <div class="carousel-item {% if forloop.first %} active {% endif %}">
                              <img src="{{ image.url }}" class="d-block w-100">
                            </div>
                          {% endif %}
                          <a class="carousel-control-prev" href="#CarouselWithControls" role="button" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="carousel-control-next" href="#CarouselWithControls" role="button" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                          </a>
                        {% endwith %}
                      {% endfor %}
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-5 text-center mx-auto">
                    {% for course_day in course.courseday_set.all %}
                      <div class="row">
                        <div class="course-date">
                          {{ course_day.date }}
                        </div>
                      </div>
                      <div class="row">
                        <div class="course-time">
                          {{ course_day.start|time:"g:i a" }} - {{ course_day.end|time:"g:i a" }}
                        </div>
                      </div>
                    {% endfor %}
                    <div class="row">
                      <div class="course-fee">
                        {{ seats_left }}
                      </div>
                    </div>
                    <div class="row">
                      <div class="course-fee">
                        ${{ course.course_fee }} per person
                      </div>
                    </div>
                    <form id="course-signup-form" method=POST autocomplete="on">
                      {% csrf_token %}
                      <div class="row">
                        <div class="input-group input-group-static mb-4">
                        {{ form }}
                        </div>
                      </div>
                      <input type="submit" value="Select Design" class="btn bg-gradient-primary w-100 my-4 mb-2">
                    </form>
                  </div>
                </div>
              </div>
              <div class="accordion" id="accordion-panel">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="acordeon-h1">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#acordeon-c1" aria-expanded="true" aria-controls="acordeon-c1">
                      About The Course
                    </button>
                  </h2>
                  <div id="acordeon-c1" class="accordion-collapse collapse show" aria-labelledby="acordeon-h1">
                    <div class="accordion-body">
                      {{ course.description }}
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="acordeon-h2">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#acordeon-c2" aria-expanded="true" aria-controls="acordeon-c2">
                      Cancellation/Refund Policy
                    </button>
                  </h2>
                  <div id="acordeon-c2" class="accordion-collapse collapse show" aria-labelledby="acordeon-h2">
                    <div class="accordion-body">
                      <strong>All sales are final after the cancellation period.</strong> There are no refunds offered. Cancellations can be made at least <strong>three business days</strong> before the class starts
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% include 'includes/footer.html' %}

  </div>
</div>

{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}